a, a:not(button) {
	color: var(--color-link);
	text-decoration: none !important;
}

.app {
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	background-color: var(--bg-primary);
}

.app-routes {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.routes-wrapper {
	width: 100%;
}

.app-route {
	margin: 0 auto;
}

.app-route:not(#photography) {
	max-width: 1140px;
}

.bp3-file-upload-input::after {
    padding: 0 .25em !important;
    width: auto !important;
}

label.bp3-label .bp3-input,
label.bp3-label .bp3-popover-wrapper {
	margin-top: 0 !important;
}